#Hex etc
*.hex
*.o
*.bin
*.elf
*.map
*.lst
*.log
Debug/*
Understand/*
*.cogui
*.comarker
*.coproj
Coocox/Discovery1/Debug/bin/history.xml
Coocox/Discovery1/Debug/obj/dependencies.xml
Coocox/Discovery1/Debug/obj/history.xml

